.input {
    input {
        border: none;
        margin-block: 5px;
        width: 100%;
        padding: 6px;
    }

    .light {
        border-bottom: 1px solid #CCC;
        background-color: white;
    }
}