.button {
    border: none;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    width: 100%;
}

.button__primary {
    background-color: #0798ff;
    color: #fff;
}

.button__secondary {
    background-color: #e43f5a;
    color: #fff;
}