.contact-main {
    h2 {
        font-size: 48px;
        padding: 20px;
    }

    &__contact-links {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 50px 30px;

        button {
            display: flex;
            flex: 1;
            justify-content: center;
            margin-inline: 30px;
            padding: 10px;
            gap: 20px;
        }
    }

    &__contact-form {
        h3 {
            font-size: 48px;
            margin: 50px 20px;
        }
    }
}