.home {
    &__hero {
        width: 100%;
        height: 300px;
        background-color: #CCC;
    }

    &__profile {
        display: flex;
        gap: 20px;

        &-info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 5px;
            background-color: rgba($color: #CCC, $alpha: .5);
            align-items: center;
            padding: 20px;
            margin-top: -303px;
        }

        &-misc {
            flex: 3;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 25px;
            align-items: center;
            padding: 20px;
        }
    }

    &__profile--mobile {
        flex-direction: column;
    }

    &__featured-repos {
        width: 100%;
        background-color: #1A1A2E;
    }
}